.fade {
    display: flex !important;
    justify-content: center !important;
}
.modal-content{
    background-color: #00000057;
    margin-top: 80px;
}

@media (max-width: 575.98px) { #img-responsive-pic{
    width: 140px;
}
}